.mat-form-field {
  margin: 40px 0;
  /* width: 500px !important; */
}

.upload-card {
  width: 400px;
  margin: auto;
  margin-top: 2rem;
}

#uploadFile {
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9;
  opacity: 0;
  height: 100%;
  cursor: pointer;
  position: absolute;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.dwn-btn {
    background: green;
    margin: 0.5em;
}